# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*/Users/alejandro/Desktop/proyectos/01-front/landing-page/servicios.html
*/Users/alejandro/Desktop/proyectos/01-front/landing-page/servicios.css