:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* background-color:  rgba(14, 13, 13, 0.88); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body{
  padding: 0;
  margin: 0;
  height: auto;
}
/* HEADER Y NAV */
header {
  background: transparent;
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 10;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 130px;
  font-weight: 600;
  color: transparent;
  letter-spacing: -0.015em;
  background-image:linear-gradient(
    180deg,
     blue,
     grey
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(27, 27, 243, 0.5), rgba(248, 247, 246, 0.5));
  font-size: 16px;
}

  .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(27, 27, 243, 0.5), rgba(248, 247, 246, 0.5));
}
.img-nav {
  width: 32px;
  height: 32px;
  justify-content: left;
}
.children-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.5s;
}
/* a:active{
  transform: scale(0.95);
  transform: scaleZ(1);
} */

/* SECCION Y H2 */
section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 32px;
  justify-content: space-between;
  }



.first-pack, .second-pack{
  display: flex;
  margin: 16px;
  padding: 16px;
  justify-content: space-evenly;
  /* width: 100vw; */
}

.first-text {
  font-size: 32px;
  display: flex;
  justify-content: right;
  align-items:center;
  padding: 16px;
}
.second-text {
  font-size: 32px;
  display: flex;
  justify-content: right;
  align-items:center;
  padding: 16px;
}
.info-servicios{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 48px;
  justify-content: space-around;
}
 
.first-img{
  justify-content: right;
  width: 400px;
  height: 350px;
  border-radius: 20px;
}
.second-img{
  justify-content: left;
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
}



/* -----BOTON SERVICIOS NO TOCAR-------- */
/* .bt-inf{
  height: 32px;
  padding: 10px;
  border: 2px solid grey;
  background-color: white;
  color: black;
  transition: all 0.5s;
  position: relative;
  row-gap: 8px;
  
}

.bt-inf:hover {
  transform: scale(1.05);
}

.bt-inf:active {
  transform: scale(0.95) ;
} 
.bt-inf{
  border-radius: 10px;
}
.bt-inf > a {
  color: black;
}

/* .structure-article{
display: flex;
flex-direction: row;
justify-content: center;
} 

.structure-btn{
display: flex;
flex-direction: row;
justify-content: center;
} */

/* -----CARTA NO TOCAR-------- */
.card {
  
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  
}

.card:hover {
transform: scale(1.05);
}

/* .card:active {
  transform: scale(0.95);
} */

/* -----OL NO TOCAR-------- */
.list-direction{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-style:italic;
}

/* ------referencias------- */



/* -----buttons------ */
/* .CTA-info{
  flex-direction: row;
  row-gap: 8px;
  justify-content: center;
  align-items: end;
} */

@media screen and (max-width: 960px) {
  
  .block {
    display: block;
    margin-bottom: 0;
  }

  .block > img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

}
@media screen and (max-width: 390px) {
 
  .block {
    display: block;
    margin-bottom: 0;
  }
  
  .block > img {
    display: block;
    /* width: 100%; */
    margin: 0 auto;
  }
}