:root {
  font-family:"https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* background-color:  rgba(14, 13, 13, 0.88); este color podría ser para la otra paleta de color que tenia pensado*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --- VARIABLES GLOBALES ---- */
  /* --- BACKGROUND ---- */
  --rc-color-background-primary  : var(--rc-color-n-#242424);
  --rc-color-background-secondary: var(--rc-color-n-#000000);
  --rc-color-background-tertiary : var(--rc-color-n-#FFFFFF);
   
  
  /* BORDER RADIUS */
  --rc-radius-card  : 20px;
  
  /* MARGIN */
  --rc-margin-heading: 0;
  --rc-margin-body   : 0;
  --rc-layout-pack:16px;
  
  /* PADDING */
  --rc-margin-heading: 0;
  --rc-margin-body   : 0;
  
  --rc-layout-children-nav:10px;
  --rc-layout-h1:100px;
  --rc-layout-section:32px;
  --rc-layout-pack:16px;
  --rc-layout-servicios:48px;
  --rc-layout-list-direction:30px;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: auto;
  
}
/* HEADER Y NAV */
header {
  background: transparent;
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(27, 27, 243, 0.5),
    rgba(248, 247, 246, 0.5)
  );
  font-size: 16px;
}
.footer-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(27, 27, 243, 0.5),
    rgba(248, 247, 246, 0.5)
  );
  font-size: 16px;
}
.img-nav {
  width: 32px;
  height: 32px;
  justify-content: left;
}
.children-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.5s;
}
/* a:active{
  transform: scale(0.95);
  transform: scaleZ(1);
} */

/* h1 estilo apple  */
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: transparent;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, blue, grey);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
}

/* SECCION Y H2 */
section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 32px;
  justify-content: space-between;
}
.first-pack,
.second-pack {
  width: 100%;
  display: flex;
  margin: 16px;
  padding: 16px;
  justify-content: space-evenly;
}
.first-text {
  font-size: 32px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 16px;
}
.second-text {
  font-size: 32px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 16px;
}
.info-servicios {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  justify-content: space-around;
}
.first-img {
  justify-content: left;
  width: 400px;
  height: 350px;
  border-radius: 20px;
}
.second-img {
  justify-content: right;
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

/* -----CARTA -------- */
.card {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}
.card:hover {
  transform: scale(1.05);
}

/* -----lista -------- */
.list-direction {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* ------@media querys------- */
@media screen and (max-width: 960px) {
  .first-pack {
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    justify-content: space-evenly;
  }
  .second-pack {
    display: flex;
    flex-direction: column-reverse;
    margin: 16px;
    padding: 16px;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 50px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 375px) {
  .first-pack {
    padding: top 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .second-pack {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .info-servicios {
    font-size: 24px;
  }
  .first-text {
    font-size: 12px;
  }
  .second-text {
    font-size: 12px;
  }
  h1 {
    font-size: 50px;
    padding-top: 80px;
  }
  img {
    width: 80%;
    height: 100%;
  }
  .first-img {
    width: 80%;
    height: 100%;
    border-radius: 20px;
  }
  .second-img {
    width: 80%;
    height: 100%;
    border-radius: 20px;
  }

  .footer-nav {
    font-size: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
