:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(60, 59, 59); */
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/* HEADER Y NAV */
header {
  background: transparent;
  background-color: #242424;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(27, 27, 243, 0.5),
    rgba(248, 247, 246, 0.5)
  );
}
.segundo-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(248, 247, 246, 0.947),
    rgba(24,24,24,0.05)
  );   
  
}

.children-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.img-nav {
  width: 32px;
  height: 32px;
  justify-content: left;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.5s;
}
a:active {
  transform: scale(0.95);
  transform: scaleZ(1);
}

/* SECCION Y H2 */
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 32px;
  justify-content: space-between;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 130px;
  font-weight: 600;
  color: transparent;
  letter-spacing: -0.015em;
  background-image:linear-gradient(
    180deg,
     blue,
     grey
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
}

.first-pack {
  display: flex;
  margin: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.first-text {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: auto;
}

.info-servicios {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 10px;
  font-size: 40px;

}

img {
  width: 400px;
  height: 350px;
  border-radius: 17px;
}


/* -----BOTON SERVICIOS NO TOCAR-------- */
.bt-inf {
  height: 32px;
  padding: 10px;
  border: 2px solid grey;
  background-color: white;
  color: black;
  transition: all 0.5s;
  position: relative;
  row-gap: 8px;
}

.bt-inf:hover {
  transform: scale(1.05);
}

.bt-inf:active {
  transform: scale(0.95);
}
.bt-inf {
  border-radius: 10px;
}
.bt-inf > a {
  color: black;
}

.structure-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* -----CARTA NO TOCAR-------- */
.card {
  border-radius: 20px;
  backdrop-filter: blur(6px);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: left;
  user-select: none;
  font-weight: bolder;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}

/* -----OL NO TOCAR-------- */
.list-direction {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-style: italic;
}

/* ------referencias------- */


/* media querys */

 @media screen and (max-width: 1024px) {
  .main-nav {
    flex-wrap: wrap;
    flex: 50%;
    max-width: 100%;
  }
  .segundo-nav {
    flex-wrap: wrap;
    flex: 50%;
    max-width: 50%;
    justify-items: auto;
    align-self: auto;
    
  }
  .first-pack {
    display: flex;
    flex-wrap: wrap;
  } 
  
  .block {
    display: flex;
    margin-bottom: 24px;
  } 
  .block > img {
    max-width: 70%;
    }
}


@media screen and (max-width: 960px) {
  .block {
    display: block;
    flex-direction: column;
    margin-bottom: 0;
  }

  .block > img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  
} 

@media screen and (max-width: 390px) {
 
  .block {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .block > img {
    display: block;
    
  } 
  img{
    width: 300px;
    height: 200px;
  }
  h1{
    font-size: 50px;
    padding-top: 150px;
  }
  .info-servicios{
    font-size: 30px;
  }
  .first-text{
    font-size: 20px;
  }

  .segundo-navbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-justify: auto;
    overflow-x: scroll;
    font-size: 10px;
  }
}